<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        <g:layoutTitle default="Grails"/>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <asset:stylesheet src="application.css"/>

    <g:layoutHead/>
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#">
                <i class="fa grails-icon">
                    <asset:image src="grails-cupsonly-logo-white.svg"/>
                </i> New Standards Demo
            </a>
        </div>

        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 0.8px;">
            <ul class="nav navbar-nav navbar-right">
                <g:pageProperty name="page.nav"/>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="menu">
        <ul>
            <li>
                <g:link url="">Test task description</g:link>
            </li>
            <li>
                <g:link controller="query" action="first">Performers by composition</g:link>
            </li>
            <li>
                <g:link controller="query" action="second">Bands by performer</g:link>
            </li>
            <li>
                <g:link controller="query" action="third">Albums by composition</g:link>
            </li>
            <li>
                <g:link controller="query" action="forth">Compositions by composer</g:link>
            </li>
            <li>
                <g:link controller="query" action="fifth">Compositions by author</g:link>
            </li>
            <li>
                <g:link controller="query" action="sixth">Compositions by performer</g:link>
            </li>
        </ul>

    </div>

    <div class="main-content">
        <g:layoutBody/>
    </div>
</div>


<div class="footer" role="contentinfo">
    Made by Yulia Dubinina
</div>

<div id="spinner" class="spinner" style="display:none;">
    <g:message code="spinner.alt" default="Loading&hellip;"/>
</div>

<asset:javascript src="application.js"/>

</body>
</html>
